#timePanel {
  position: absolute;
  bottom: 11px;
  left: 11px;
  height: 52px;
  width: calc(100vw - 22px);
  background: rgba(26, 28, 39, 0.67);
  display: flex;
  pointer-events: all;
  z-index: 2;

  .playbtns {
    position: inherit;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    .play {
      width: 22px;
      height: 22px;
      background: #34cfeb;
      border-radius: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;

      .iconbofang {
        color: rgba(0, 94, 175, 1);
        border-radius: 50%;
        width: 0.36rem;
        height: 0.36rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0.03rem;
      }
    }

    .pre,
    .next {
      margin: 0 0.1rem;
    }

    .icon {
      color: #fff;
    }

    .ant-picker {
      border: 1px solid rgba(217, 217, 217, 0);
      background-color: rgba(0, 0, 0, 0);
      .ant-picker-input {
        input {
          color: #fff;
        }
        .ant-picker-suffix {
          color: #fff;
        }
      }
    }
  }

  #timeAxis.timeDiv {
    width: calc(100vw - 52px - 22px);
    min-width: 365px;
    position: inherit;
    left: 52px;
    .maxTime {
      width: 100%;
      height: 16px;
      cursor: pointer;
      position: relative;

      #move {
        width: 100%;
        height: 100%;
        position: relative;

        .level {
          width: 100%;
          height: 25px;
          position: relative;
          cursor: pointer;
          align-self: flex-end;
        }

        .moveing {
          position: absolute;
          top: -40px;
          left: 0px;
          margin-left: -65px;
          width: 128px;
          text-align: center;
          white-space: nowrap;
          cursor: grab;
          padding: 3px 4px;
          color: #fff;
          background-color: rgba(0, 181, 214, 1);
          z-index: 2;
          border-radius: 15px 12px 12px 0px;
          .box {
            position: relative;
            width: 100%;
          }
        }

        .hoverTip {
          position: absolute;
          top: -40px;
          left: 0px;
          margin-left: -65px;
          width: 128px;
          text-align: center;
          white-space: nowrap;
          // width: 80px;
          color: #fff;
          cursor: grab;
          padding: 3px 4px;
          background-color: rgba(68, 65, 65, 0.84);
          z-index: 999;
          opacity: 0;
          transition: left 0.2s;
          border-radius: 15px 12px 12px 0px;
        }
      }
    }

    .curTime {
      width: 0%;
      height: 4px;
      background-color: rgba(50, 223, 255, 1);
      border-radius: 2px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      // transition: left 3.5s;
      pointer-events: none;
    }
    .maxTime2 {
      width: calc(100vw - 52px - 22px);
      height: 4px;
      background-color: rgba(176, 182, 193, 0.6);
      border-radius: 2px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      // transition: left 3.5s;
      pointer-events: none;
    }

    .date {
      display: flex;
      height: 46px;
      margin-top: -10px;
      width: calc(100vw - 52px - 22px);
      .clickable {
        width: calc((100vw - 52px - 22px) / 11);
        cursor: pointer;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 0.12rem;
        font-family: 'Microsoft YaHei', Helvetica, Arial, Verdana, Tahoma, sans-serif;
        font-weight: 400;
        color: #fff;
        &:last-child {
          border-right-width: 0;
        }

        .duration {
          width: 100%;
          height: 28px;
          display: flex;
          justify-content: space-between;
          font-size: 0.12rem;
          margin-top: -5px;
          flex-direction: row;
          .littleDuration {
            width: calc((100vw - 52px - 22px) / 264);
            position: relative;
            flex: 1;
            pointer-events: all;

            &::before {
              content: '';
              width: 1px;
              height: 6px;
              background-color: rgba(255, 255, 255, 0.2);
              position: absolute;
              top: 3px;
              left: -0.5px;
            }

            .name {
              color: rgba(255, 255, 255, 0.6);
              position: absolute;
              left: -15px;
              top: 10px;
            }

            .deviation {
              position: absolute;
              left: -8px;
            }

            .none {
              opacity: 0;
            }

            &.hidden {
              opacity: 0;
              cursor: default;
            }
            &.show {
              opacity: 1;
              &::before {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }

        .durationName {
          text-align: center;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
